[submodule ".registry"]
	path = .registry
	url = https://github.com/openjusticeok/openjusticeok.r-universe.dev
	branch = HEAD
[submodule "ojodb"]
	path = ojodb
	url = https://github.com/openjusticeok/ojodb
[submodule "ojoutils"]
	path = ojoutils
	url = https://github.com/openjusticeok/ojoutils
