[submodule ".registry"]
	path = .registry
	url = https://github.com/openjusticeok/openjusticeok.r-universe.dev
	branch = HEAD
[submodule "httpgd"]
	path = httpgd
	url = https://github.com/nx10/httpgd
	registered = false
[submodule "ojodb"]
	path = ojodb
	url = https://github.com/openjusticeok/ojodb
[submodule "ojoregex"]
	path = ojoregex
	url = https://github.com/openjusticeok/ojoregex
[submodule "ojoslackr"]
	path = ojoslackr
	url = https://github.com/openjusticeok/ojoslackr
[submodule "ojothemes"]
	path = ojothemes
	url = https://github.com/openjusticeok/ojothemes
[submodule "ojoutils"]
	path = ojoutils
	url = https://github.com/openjusticeok/ojoutils
[submodule "ojoverse"]
	path = ojoverse
	url = https://github.com/openjusticeok/ojoverse
